{% extends 'base.html.twig' %}

{% block title %}DefaultIndex{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"  href="{{ asset('libs/lightslider/dist/css/lightslider.min.css') }}"/>
{% endblock %}

{% block body %}

    <div class="ui segment">
        <h1 class="ui header">{{ 'Welcome on MySquelette server !'|trans }}</h1>
        <div class="ui container">
            <div class="ui column grid">
                <div class="column">
                    <h2 class="ui header">Bonjour Constance</h2>
                </div>
            </div>
        </div>
        <br/>
        {#//------#}
        <div class="example-wrapper">
            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ '/home/geronimo/NetBeansProjects/testSymfony5/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/home/geronimo/NetBeansProjects/testSymfony5/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
            </ul>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('libs/lightslider/dist/js/lightslider.min.js') }}"></script>
    <script>
        $(document).ready(function () {

        }));
    </script>
{% endblock javascripts %}
